<div class="row">
<div class="col-md-12">
</div>

 <div class="col-md-5">
  <h2>On a mission to connect the world's food supply chain.</h2>
  <p>We envision a world of <b>food chain-wide traceability</b> - not just one forward and one back, but at every stop from the fields to the tables of end consumers.</p>
  <a href="/contact-us">Request a demo</a>
</div>

 <div class="col-md-7 fl-vid">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/OpWw5qdRjkc" frameborder="0" allowfullscreen=""></iframe>
 </div>

</div>